<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New Sprite</title>
  </head>
  <body>
    Upload a sprite(512x512):      <form ref='uploadForm' id='uploadForm' action='/create' method='post' encType="multipart/form-data">
      <label>Name: <input type="text" name="name"></label>
  <input type="file" name="picture_url">
  <input type='submit' name="{{edit}}">
</form>

  </body>
</html>
