<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>spritr</h1>
    <p>Welcome to {{title}}</p>
    <a href="{{button.link}}"><button>{{button.name}}</button></a>
  </body>
</html>
