<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- BOOTSTRAP Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <!-- MY Styling CSS -->
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>

  <header>
    <!-- Navigation - START -->
      <div class="container navigation-block">
            <div class="row">
              <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid navigation">
                  <div class="navbar-header">
                    <div class="navbar-brand">
                      <a href="/"><img src="/images/requires/mainLogo.png" class="logo" alt="MozaiX"></a>
                    </div>
                  </div>
                  <div class="menu">
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation"><a href="{{log.link}}"><button class="login-logout-buttom" >{{log.text}}</button></a></li>
                    </ul>
                  </div>
                  <form class="navbar-form navbar-right searchbox" role="search">
                      <div class="input-group">
                          <input type="text" class="form-control transparent" placeholder="Search this site">
                          <span class="input-group-btn">
                              <button type="submit" class="btn btn-default search-button">
                              <span class="glyphicon glyphicon-search"></span>
                              </button>
                          </span>
                      </div>
                  </form>
                </div>
              </nav>
            </div>
          </div>
    <!-- Navigation - END -->
  </header>

  <hr>

  <!-- Carousel - START -->
  <section class="section-white">
    <div class="container">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <!--First slide-->
          <div class="item active">

              <div class="col-md-4">
                  <div class="card">
                      <img class="img-fluid carousel-img" src="images/requires/Screen Shot 2017-04-10 at 14.46.31.png" alt="Card image cap">
                  </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                  <div class="card">
                      <img class="img-fluid carousel-img" src="images/requires/Screen Shot 2017-04-10 at 14.46.31.png" alt="Card image cap">
                  </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                  <div class="card">
                      <img class="img-fluid carousel-img" src="images/requires/Screen Shot 2017-04-10 at 14.46.31.png" alt="Card image cap">
                  </div>
              </div>

          </div>
          <!--/.First slide-->

          <!--Second slide-->
          <div class="item">

              <div class="col-md-4">
                  <div class="card">
                      <img class="img-fluid carousel-img" src="images/requires/Screen Shot 2017-04-10 at 14.46.31.png" alt="Card image cap">
                  </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                  <div class="card">
                      <img class="img-fluid carousel-img" src="images/requires/Screen Shot 2017-04-10 at 14.46.31.png" alt="Card image cap">
                  </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                  <div class="card">
                      <img class="img-fluid carousel-img" src="images/requires/Screen Shot 2017-04-10 at 14.46.31.png" alt="Card image cap">
                  </div>
              </div>

          </div>
          <!--/.Second slide-->

          <!--Third slide-->
          <div class="item">

              <div class="col-md-4">
                  <div class="card">
                      <img class="img-fluid carousel-img" src="images/requires/Screen Shot 2017-04-10 at 14.46.31.png" alt="Card image cap">
                  </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                  <div class="card">
                      <img class="img-fluid carousel-img" src="images/requires/Screen Shot 2017-04-10 at 14.46.31.png" alt="Card image cap">
                  </div>
              </div>

              <div class="col-md-4 hidden-sm-down">
                  <div class="card">
                      <img class="img-fluid carousel-img" src="images/requires/Screen Shot 2017-04-10 at 14.46.31.png" alt="Card image cap">
                  </div>
              </div>

          </div>
          <!--/.Third slide-->

        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </section>
  <!-- Carousel - END -->

  <hr>

  <!-- Button - START -->
  <div class="container instant-create">
    <div class="row">
      <button id="create" type="button" class="btn btn-default navbar-btn create-now transparent">Create Your Own</button>
    </div>
  </div>
  <!-- Button - END -->

  <!-- <br> -->

  <!-- Features - START -->
  <div class="container">
    <div class="row">
      <div class="card">
        <div class="card-block features">
          <h4 class="card-title left">Create 2D Sprites</h4>
          <p class="card-text left">Draw and perfect your own creations with the MosaiX <a href="/piskel.html" class="splash-span">pixel sprite editing suite</a>.</p>
          <h4 class="card-title right">Put them to use</h4>
          <p class="card-text right">Implement your 2D sprites in your own professional or personal projects - or try them out in our <a href="#" class="splash-span">render-zone</a>!</p>
          <h4 class="card-title left">Become part of the community</h4>
          <p class="card-text left"><a href="/login" class="splash-span">Join thousands of our members</a> who explore, share, and crate every day. Check out the <a href="/query/trending" class="splash-span">trending</a> and <a href="/query/trending" class="splash-span">latest</a> feeds, or search for something entirely different!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Features - END -->

  <!-- Footer - START -->
  <div class="container footer col-md-12">
    <div class="row footer-row">
      <div class="card">
        <div class="card-block">
          <p class="copyright-block"><span class="copyright">&copy; MosaiX All right reserved.</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer - END -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<!-- BOOTSTRAP Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="./javascripts/index.js">

</script>
</body>
<!-- MY Javascripting -->
<!-- <script src="./javascripts/index.js"></script> -->

</html>
