<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- BOOTSTRAP Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- MY Styling CSS -->
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
  <header>
    <!-- Navigation - START -->
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid navigation">
            <div class="navbar-header">
              <div class="navbar-brand">
                <a href="/"><img src="./images/requires/MozaixLogo.png" class="logo" alt="MozaiX"></a>
              </div>
            </div>
            <div class="menu">

            </div>
            <form class="navbar-form navbar-right" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search this site">
                <span class="input-group-btn">
      <button type="submit" class="btn btn-default search-button">
      <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
    <!-- Navigation - END -->
  </header>

  <hr>
  <br><br><br>

  <!-- Collapsible - START -->
  <div class="container log-method">
    <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 log-block">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- SIGN IN -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Login</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in user-action" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <form class="login-require" action="/login" method="post">
                  <input type="text" name="username" placeholder="Your username...">
                <!-- </label> -->
                <br>
                  <input type="password" name="password" placeholder="Your password...">
                <!-- </label> -->
                <br>
                <br>
                <button type="submit">Login</button>
              </form>
              <h4>{{error}}</h4>
            </div>
          </div>
        </div>
        <!-- MAKE USER -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Sign Up</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse user-action" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <form  class="signup-require" action="login/signup" method="post">
                  <input type="text" name="email" placeholder="Your email...">
                <br>
                  <input type="text" name="username" placeholder="Your username...">
                <br>
                  <input type="password" name="password" placeholder="Your password...">
                <br>
                  <input type="password" name="confirmPassword" placeholder="Confirm plassword...">
                <br>
                <br>
                <button type="submit">Sign Up</button>
              </form>
              <h4>{{error2}}</h4>
            </div>
          </div>
        </div>
        <!-- CREATE ANONYMOUS -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">CREATE Anonymouily</a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse user-action" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <button type="submit">JUST DO IT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Collapsible - END -->

  <!-- Footer - START -->
  <div class="container footer col-md-12">
    <div class="row footer-row2">
      <div class="card">
        <div class="card-block">
          <p class="copyright-block"><span class="copyright">&copy; MosaiX All right reserved.</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer - END -->

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- BOOTSTRAP Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
<!-- MY Javascripting -->
<script src="./javascripts/login.js"></script>

</html>
