<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>spritr</h1>
    <p>Login</p>
    <form action="login" method="post">
        <label>Username: <input type="text" name="username"></label><br>
        <label>Password: <input type="password" name="password"></label><br>
        <button type="submit">Login</button>
    </form>
    <h4>{{error}}</h4>
    <p>Or sign in</p>
    <form action="login/signup" method="post">
        <label>Email: <input type="text"></label><br>
        <label>Username: <input type="text"></label><br>
        <label>Password: <input type="password"></label><br>
        <label>Confirm Password: <input type="password"></label><br>
        <button type="submit">Sign Up</button>
    </form>
</body>

</html>
