<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Sprites</title>
  </head>
  <body>
    {{#each sprites}}
      <h4>{{this.name}}</h4>
      <img src="{{this.picture_url}}">
    {{/each}}
  </body>
</html>
