/* ============== GENERAL STYLING ============== */
*:focus {
  outline: none;
}
body {
  padding: 50px;
  height: auto;
  background: url(../images/requires/waterfall.png) no-repeat fixed;
  /*background: white;*/
  background-size: cover;
  font-family: "Press Start 2P", cursive;
}
hr {
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px red inset;
}
a,
a:hover {
	text-decoration:none;
  color: gold;
}
.navigation-block {
  padding: 0;
  margin: 0;
  margin-top: -20px;
}
.navigation {
  background-color: transparent;
  width: 1390px;
}
.navbar-default {
	background-color: transparent;
  border-color: transparent;
	border-radius:0;
	border-right:0;
	border-left:0;
	border-top:0;
}
.container-fluid.navigation {
  height: 75px;
}
.container-fluid > .navbar-header {
	/*margin-right: 30px;*/
	margin-left: 10px;
	margin-top:20px;
	border-radius:0;
  width: 225px
}
.navbar-brand {
  float: left;
  height: 30px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand img {
	float: left;
	margin-top:-42px;
  margin-left: -40px;
  width: 450px;
}
.searchbox {
  margin-top: 14px;
}
.menu {
	font-size:14px;
	float:right;
	text-transform:uppercase;
	font-weight:600;
  margin-top: 5px;
  margin-right: -10px;
}
.menu ul.nav-tabs li {
	color:#000;
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs > li {
  float: left;
  margin-bottom: 0;
}
.nav-tabs > li > a {
	line-height: 1.42857143;
	border-bottom: 3px solid transparent;
	border-radius:0;
	color:white;
	margin-left: 15px;
  margin-right: -5px;
}
.nav-tabs > li > a:hover {
  border-color: red;
  color: red;
  font-weight: bold;
  border-radius:0;
  background-color: rgba(0, 0, 0, 0.5)
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: red;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5)
  border: 0;
  border-bottom-color: transparent;
  cursor:pointer;
}
.currUser {
  margin-left: 20px;
}
.login-logout-buttom {
  background-color: transparent;
  border-color: transparent;
}
.login-logout-buttom:hover,
.login-logout-buttom:active {
  border-color: none;
  color: red;
  font-weight: bold;
  border-radius:0;
  background-color: rgba(0, 0, 0, 0.5)
}
.footer-row {
  margin-top: 90px;
}
.footer-row2 {
  margin-top: 130px;
}
.copyright {
  color: white;
  margin-bottom: 125px;
}
.copyright-block {
  text-align: center;
}


/* ============== SPLASH STYLING ============== */
/*Carousel Styling*/
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}
.carousel-img {
  width: 350px;
  height: 350px;
}

/*Instant Create Button*/
.instant-create {
  text-align: center;
}
/*Features*/
.features {
  color: white;
  width: 900px;
  margin: auto;
  padding: 5px;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.splash-span {
  color: red;
}

/* ============== LOGIN STYLING ============== */
/*.log-method {
  height: 500px;
}*/
.log-block,
.login-require,
.signup-require {
  text-align: center;
}
.panel-title > a {
  text-decoration: none;
}

/* ============== QUERY STYLING & SPRITES ============== */
.query-content {
  color: white;
}
.my-profile-info {
  text-align: center;
}
.my-profile-img {
  width: 125px;
  border: white 1px solid;
}
.sidebar-buttoms {
  /*border: white 1px solid;*/
  height: 1200px;
  margin-left: -15px;
  margin-right: 30px;
}
.buttons {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  /*background-color: red;*/
}
.buttons button {
  width: 100%;
}
.sidebar-buttom {
  margin-bottom: 5px;
  /*color: white;*/
  border-color: yellow;
  background-color: transparent;
}
.create-now{
  border-color: red;
}
.sidebar-buttom,
.sidebar-buttom a {
  color: white;
}
.create-now,
.create-now a  {
  color: yellow;
}
.query-page {
  text-align: center;
}
.query-title,
.query-title-2 {
  color: white;
}
.query-title {
  width: 500px;
}
.query-title-2 {
  width: 705px;
  /*text-align: right;*/
}
.query-title-3 {
  width: 950px;
}
.query-images {
  border: red 5px solid;

}
.query-img {
  width: 200px;
  height: 200px;
  margin: 5px 0;
  text-align: center;
  border: yellow 3px solid;
  background-color: transparent;
}
.sprite {
  padding: 10px 15px;
}

/* ==============  SPRITE STYLING ============== */
.sprite-content {
  color: white;
}
.sprite-title {
  color: white;
  width: 100%;
}
.left-title {
  text-align: start;
  width: 100%;
}
.right-title {
  text-align: right;
}
.sprite-info {
  border: red 5px solid;
}
.sprite-img {
  width: 400px;
  height: 400px;
  margin: 5px 0;
  border: yellow 3px solid;
  background-color: transparent;
}
td {
  padding-right: 10px;
}
.comment-section {
  height: 200px !important;
  overflow-y: scroll;
}
.comment-info {
  margin-top: 50px;
}
.comment-buttoms {
  border-color: red;
  color: red;
  font-weight: bold;
  border-radius:0;
  background-color: rgba(0, 0, 0, 0.5)
}
.comment-buttoms:hover,
.comment-buttoms:active {
  border-color: red;
  color: red;
  font-weight: bold;
  border-radius:0;
  background-color: rgba(0, 0, 0, 0.5)
}
.comment-img {
  width: 100px;
  height: 100px;
  border: white 1px solid;
  padding-right: 5px;
  background: url(http://img110.xooimage.com/files/5/9/7/lilblobby-51f5ebe.jpg) center center;
  background-size: cover;
}

/* ==============  MY PROFILE & OTHER PROFILE STYLING ============== */
.my-prrofile-query-img,
.other-prrofile-query-img {
  margin-bottom: 50px;
}

/* ==============  SETTING STYLING ============== */
.setting-content {
  color: white;
}
.setting-info {
  border: red 5px solid;
  text-align: center;
}
.setting-buttoms:hover,
.setting-buttoms:active {
  border-color: red;
  color: red;
  font-weight: bold;
  border-radius:0;
  background-color: rgba(0, 0, 0, 0.5)
}
.transparent{
  background-color: rgba(0, 0, 0, 0.5);
  /*opacity: 0.5;*/
}
.upload-image {
  margin: auto;
}

/* ==============  OAUTH STYLING ============== */
#googleSign {
  margin: auto;
}
